In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
df=pd.read_excel("NewMedchal.xlsx",parse_dates=['date'],index_col='date')
df

,district,rain,temp_min,temp_max,humidity_min,humidity_max,wind_speed_max,wind_speed_min
date,,,,,,,,
2018-01-01,Medchal-Malkajgiri,0.0,12.1,32.6,23.8,100.0,0.0,6.6
2018-01-02,Medchal-Malkajgiri,0.0,11.6,32.6,23.2,100.0,0.0,4.7
2018-01-03,Medchal-Malkajgiri,0.0,13.0,33.0,31.5,100.0,0.0,6.3
2018-01-04,Medchal-Malkajgiri,0.0,9.7,31.7,27.4,100.0,0.0,5.2
2018-01-05,Medchal-Malkajgiri,0.0,8.8,31.0,28.6,100.0,0.0,7.1
...,...,...,...,...,...,...,...,...
2022-04-26,Medchal-Malkajgiri,0.0,28.0,39.5,23.3,63.8,0.0,1.5
2022-04-27,Medchal-Malkajgiri,0.0,27.0,39.4,24.5,62.1,0.0,1.8
2022-04-28,Medchal-Malkajgiri,0.0,28.3,39.5,24.2,59.8,0.0,1.5
2022-04-29,Medchal-Malkajgiri,0.4,26.1,39.8,25.2,67.9,0.0,3.0
2022-04-30,Medchal-Malkajgiri,0.0,27.0,40.2,20.9,55.8,0.0,1.6

In [3]:
df=df[['temp_max']]
df

            temp_max
date
2018-01-01      32.6
2018-01-02      32.6
2018-01-03      33.0
2018-01-04      31.7
2018-01-05      31.0
...              ...
2022-04-26      39.5
2022-04-27      39.4
2022-04-28      39.5
2022-04-29      39.8
2022-04-30      40.2

[1332 rows x 1 columns]